@model FinalExamProblem2.Models.About
@* passes in the model info to the view *@

@{
    ViewBag.Title = "About Sooner Football";
}
<h2>@ViewBag.Title.</h2>
<h3>About the University of Oklahoma Football Program</h3>

<p>OU Football is coached by <b>@Model.HeadCoach</b>. The Sooners have a bowl record of <b>@Model.BowlRecord</b>.and have <b>@Model.NationalTitles</b> National Titles. </p>
@* the <b> </b> bolds the words in the area *@
